%div.GlobalHeader
  %div.inner
    %div.SiteTitle
      %p {Title}
    %div.Navigation
      %ul
        %li.nav
          %a(href='/') WORKS
        %li.nav
          %a(href='#profile') PROFILE
        %li.nav
          %a(href='https://h-m-r.stores.jp/') SHOP
