{block:Pagination}
%div.Pagination
  {block:PreviousPage}
  %a.btn.r(href='{PreviousPage}') 前のページ
  {/block:PreviousPage}
  {block:NextPage}
  %a.btn.r(href='{NextPage}') 次のページ
  {/block:NextPage}
{/block:Pagination}
