{block:Panorama}
%div.Panorama
  {LinkOpenTag}
  %img.thumb(alt='{PhotoAlt}' src='{PhotoURL-Panorama}')
  {LinkCloseTag}
  {block:Caption}
  %div.caption {Caption}
  {/block:Caption}
{/block:Panorama}
