%div.Profile
  %h3.name
    氷室友里
    %span Yuri Himuro
  %p.intro 日本とフィンランドでテキスタイルを学び、国内外でデザイン、表現活動を行っています。
  %ul.bio
    %li 1989年　東京生まれ
    %li 2007年　多摩美術大学テキスタイルデザイン専攻卒業
    %li 2012年　Aalto University  MA Textile Art & design留学
    %li 2013年　多摩美術大学大学院テキスタイルデザイン領域修了
  %div.address
    %p
      %span 連絡先
      himuroyuri*gmail.com  (* → @)
